<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some website</title>
</head>
<body>
	{{> header}}
	<!-- screamIt is a helper that takes welcomeMsg as an argument. -->
	<p>{{screamIt welcomeMsg}}</p> 

	{{> footer}}
</body>
</html>